<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-3 justify-content-center">
        {% for producto in productos %}
        <div class="col mb-4">
            <div class="card h-100 bg-light border-0 shadow">
                <div class="card-body">
                    <h3 class="card-title text-dark fw-bold">{{producto.nombre}}</h3>
                    <p class="card-text text-dark">{{producto.descripcion}}</p>
                    <h5 class="card-text text-dark fw-bold">${{producto.precio}}</h5>
                </div>
                <div class="card-footer border-0 bg-transparent d-flex justify-content-center">
                    <a class="btn btn-dark mb-1" href="https://wa.me/5493517010243">Info</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>







