<div class="container py-5">
    {% for cliente in clientes %}
    <div class="row mb-4">
        <div class="col">
            <div class="card bg-light border-0 shadow">
                <div class="card-body">
                    <h3 class="card-title text-dark fw-bold">{{ cliente.apellido }} {{cliente.nombre}}</h3>
                    <hr>
                    <p class="card-text text-dark fw-bold">Nacionalidad: {{cliente.nacionalidad_id}}</p>
                    <p class="card-text text-dark fw-bold">Dirección: {{cliente.direccion}}</p>
                    <p class="card-text text-dark fw-bold">Teléfono: {{cliente.telefono}}</p>
                    <p class="card-text text-dark">Mail: {{cliente.mail}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
