{% extends 'core/base.html' %}
{% block titulo %}
    {% include 'core/components/titulo.html' with titulo="Productos" %}
{% endblock titulo %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'producto:producto_create' %}" class="btn btn-primary btn-lg btn-block">Cargar Producto</a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'producto:productocategoria_create' %}" class="btn btn-primary btn-lg btn-block">Cargar Categoría</a>
        </div>
    </div>
</div>
{% include 'producto/components/cards.html' %}
{% endblock contenido %}
