{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
{% include 'core/components/banner.html' %}

<section class="mb-5 ">
    <div class="container">
        <div class="row align-items-center mt-3 ">
            <div class="col-md-6">
                <div class="card p-4 mt-4" style="background-color: #f8f9fa;">
                    <h2>Technology CBA</h2>
                    <p>La meca tecnológica de Córdoba, ofrece una gama completa de productos y servicios informáticos. Desde hardware de última generación hasta software innovador, brindan soluciones integrales para todos los clientes. Con expertos en tecnología y un servicio al cliente excepcional, son líderes indiscutibles en el mercado.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <img src="{% static 'core/img/pc_gamer.webp' %}" alt="PC Gamer" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center mt-3 ">
            <div class="col-md-6 mt-4 d-flex align-items-center justify-content-center mb-5 ">
                <img src="{% static 'core/img/informatica.webp' %}" alt="PC Gamer" class="img-fluid h-100 w-100">
            </div>
            
            <div class="col-md-6">
                <div class="card p-4 mt-4" style="background-color: #f8f9fa;">
                    <h2>El mejor asesoramiento</h2>
                    <p>Technology CBA sobresale por su asesoramiento experto en tecnología. Con un equipo altamente capacitado, brindan soluciones personalizadas y orientación integral en hardware, software y servicios informáticos, asegurando la satisfacción y el éxito de cada cliente.</p>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock contenido %}

        
